*::-webkit-scrollbar {
  display: none;
}

.about {
  /* width: 100vw;
  height: 100vh; */
  /* background-color: #1a1a1a; */
  color: aliceblue;
  /* overflow-y: scroll; */
}

/* .section:nth-child(even) {
  background-color: green;
} */

.section {
  /* width: 100vw;
  height: 100%; */
  background-color: #1a1a1a;
}

.hero-header {
  font-size: 3rem !important;
  text-shadow: 0 10px 10px #084c2e !important;
  animation-name: moveInLeft;
  animation-duration: 3s;
  animation-timing-function: ease-in-out;
}

.hero-img {
  width: 70vw;
  /* background-color: #084c2e; */
  background: url("img/about-2.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  height: 100vh;
  position: absolute;
  right: 0;
  z-index: 1;
}

/* About */

.about-svg {
  width: 90%;
  height: 140vh;
  display: flex;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
  position: relative;
}

.about-svg svg {
  transition: all 1s;
}
.about-svg svg:hover {
  /* transform: skew(5deg, 5deg); */
  animation-name: svgAnimator;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}

@keyframes svgAnimator {
  0% {
    transform: skew(0);
  }

  50% {
    transform: skew(5deg, 5deg);
  }

  100% {
    transform: skew(0);
  }
}

.floating-header {
  /* font-size: 10rem; */
  text-shadow: 0 10px 10px #084c2e;
  display: inline-block;
  color: #ffffff;
  /* text-transform: capitalize; */
  font-family: "Open Sans", sans-serif;
  font-size: 3rem;
  position: absolute;
  top: 12rem;
  left: 15rem;
  line-height: 6rem;
  font-family: "Yrsa", serif;
  text-transform: uppercase;
  transition: all 2s;
  z-index: 100;
}

.floating-header:hover {
  transform: skew(10deg, 15deg);
}

/* Who Is mercho */
.who-is-header {
  color: #fff;
  font-family: "Work sans", Serif;
  margin-bottom: 3rem;
  position: absolute;
  top: 10rem;
  left: 6rem;
  font-weight: 400;
  font-size: 2rem;
  text-transform: capitalize;
  transition: all 1s;
  z-index: 100;
}

#who-is .slide {
  margin-top: 5.5rem;
}

.who-is-header.fixed {
  position: fixed !important;
  top: 3rem;
  left: 0;
  top: 30%;
  background-color: #084c2e;
  color: #fff;
  padding: 0.5rem 2rem;
  font-size: 1rem;
}

.who-is-header.fixed::after {
  display: none;
}

.who-is-header.fixed span {
  color: #fff;
}

.who-is-header::after {
  width: 20%;
  height: 180%;
  content: "";
  display: table;
  border-bottom: 3px solid #084c2e;
  position: absolute;
  top: 0;
  left: 0;
}

.who-is {
  display: flex;
  flex-direction: row !important;
  justify-content: space-between;
  width: 80%;
  height: 100%;
  margin: 0 auto;
  /* margin-top: 5rem; */
  align-items: center;
  background-attachment: fixed;
  /* padding: 10%; */
  /* opacity: 0; */
  transition: all 1s;
}

.who-is > .fp-overflow {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.who-is-text {
  flex-basis: 40%;
  font-family: "Work sans", sans-serif;
  color: #fff;
  font-size: 1.5rem;
  text-align: center;
  line-height: 2.5rem;
  font-style: italic;
}

.who-is-text .green {
  font-size: 2rem;
}

.who-is-img {
  /* background-image: url("img/dummy.jpeg"); */
  flex-basis: 40%;
  position: relative;
}

.who-is-img::after {
  width: 100%;
  height: 100%;
  background-color: #084c2e;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  content: "";
}

.who-is-img img {
  width: 100%;
}

.who-is-breaktext {
  width: 70%;
  height: 15rem;
  margin: 0 auto;
  /* background-color: #084c2e; */
  margin-bottom: 5rem;
  margin-top: 5.5rem;
  display: flex;
  align-items: center;
}

.who-is-breaktext p {
  color: #fff;
  text-align: center;
  font-size: 1.5rem;
  font-family: "Work sans", sans-serif;
  line-height: 2.5rem;
  font-style: italic;
}

.who-is-breaktext p .green {
  font-size: 2rem;
}

.who-is-breakimg {
  width: 80%;
  height: 40rem;
  margin: 0 auto;
  background-color: #084c2e;
  margin-bottom: 8rem;
  background: url("img/about4.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: bottom right;
  position: relative;
}

.who-is-breakimg::after {
  width: 100%;
  height: 100%;
  background-color: #084c2e;
  opacity: 0.4;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  content: "";
}

.fp-arrow {
  display: none !important;
}

/* What & Why */
.what-why > .fp-overflow {
  display: flex;
  padding: 8rem;
  padding-top: 13.5rem;
  /* justify-content: space-between; */
  /* align-items: flex-start; */
  height: 100%;
  flex-direction: column;
  position: relative;
}

.what-why-div {
  flex-basis: 50%;
  display: flex;
  justify-content: space-between;
  /* animation: fadeIn 5s; */
}

.what-why-div h2 {
  transform: translateY(-15rem);
  opacity: 0;
  transition: all 0.2s;
}

/* @keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
} */

.what-why-div:nth-of-type(2) {
  /* flex-direction: column; */
  /* flex-basis: 50%; */
  display: flex;
  /* flex-direction: column; */
  justify-content: space-between;
  opacity: 0;
}

.what-why-div h2 {
  width: 40%;
  text-align: center;
  margin: 0 auto;
  font-family: "Work sans", sans-serif;
  line-height: 3rem;
  font-style: italic;
  font-size: 2.3rem;
}

.what-why-div p {
  font-family: "open sans", sans-serif;
  width: 40%;
  font-size: 1.4rem;
}

.what-why-div p:nth-of-type(2) {
  text-align: right;
}

.about-header {
  color: #fff;
  font-family: "Work sans", Serif;
  /* margin-bottom: 3rem; */
  position: absolute;
  top: calc(30% + 5.5rem);
  left: 0;
  font-weight: 400;
  font-size: 1.5rem;
  text-transform: capitalize;
  transition: all 1s;
  background-color: #084c2e;
  padding: 0.5rem 2rem;
  opacity: 0;
}

.why-header {
  right: 0;
  left: auto;
  transform: translateX(100%);
}

.what-header {
  transform: translateX(-100%);
}

.img-divider-section .fp-overflow {
  /* display: flex;
  flex-direction: column;
  justify-content: space-around; */
}

.img-divider img {
  width: 80%;
}

.img-divider-section .fp-overflow div:nth-of-type(2) {
  /* background-image: url("img/dummy.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center; */
  width: 100%;
  margin-bottom: 15rem;
}

.img-divider-section .fp-overflow div:nth-of-type(1) {
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-divider-section .fp-overflow div:nth-of-type(1) img {
  width: 16rem;
}
.img-divider-section .fp-overflow div {
  height: 60vh;
}
/* .img-divider {
  width: 80%;
} */
.img-divider-section p {
  font-size: 1.7rem;
  /* text-transform: capitalize; */
  letter-spacing: 0.02rem;
  margin-right: 1rem;
  text-align: center;
  font-family: "open sans", sans-serif;
  /* line-height: 3.5rem; */
  line-height: 4rem;
  display: flex;
  align-items: center;
}
/* .img-divider-section p,


 */

/* Approach */

.approach-slide .fp-overflow {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 14rem;
  position: relative;
  margin-top: 5.5rem;
}

.approach-text {
  flex-basis: 42%;
}

.approach-text h2 {
  font-size: 3rem;
  color: #084c2e;
  font-family: "open sans", sans-serif;
  font-weight: 400;
  margin-bottom: 2rem;
}

.approach-text p {
  font-size: 1.1rem;
  color: #fff;
  font-family: "open sans", sans-serif;
  font-weight: 200;
  line-height: 1.8rem;
  /* margin-bottom: 1.5rem; */
}

/* .approach-img {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
} */

.approach-img {
  /* border: 10px solid black; */
  border-radius: 1rem;
  background-color: #fff;
  overflow: hidden;
  width: 33rem;
  height: 22rem;
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.approach-img::after {
  width: 100%;
  height: 100%;
  background-color: #084c2e;
  opacity: 0.3;
  position: absolute;
  top: 0;
  left: 0;
  display: table;
  content: "";
}
.approach-img img {
  width: 100%;
  /* height: 100%; */
  /* backface-visibility: hidden; */
}

.arrows {
  position: absolute;
  top: calc(50vh - 11rem);
  right: 15rem;
  /* transform: translateY(-100%); */
  z-index: 101;
}
.arrows i {
  color: #084c2e;
  font-size: 2.5rem;
  cursor: pointer;
  /* font-weight: 00; */
}

.arrows i:nth-of-type(2) {
  margin-left: 0.8rem;
}

/* Philosophy */
.philosophy-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 16.5rem;
  margin-bottom: 27rem;
  position: relative;
}

.philosophy-container::after {
  width: 60%;
  display: table;
  content: "";
  position: absolute;
  bottom: -12rem;
  border-bottom: 5px solid #084c2e;
}

.philosophy-inner-container {
  display: flex;
  justify-content: center;
  position: relative;
  align-items: center;
  margin-bottom: 3.5rem;
}

.philosophy {
  font-size: 7rem;
  font-family: "open sans", sans-serif;
  border: 2px solid #084c2e;
  border-radius: 50%;
  width: 15rem;
  height: 15rem;
  /* padding: 5rem; */
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  /* 
  animation-name: makeBigger;
  animation-duration: 3s;
  animation-iteration-count: infinite; */

  transform: translateX(0);
  transition: transform 1s;
}

/* .philosophy:nth-of-type(even) {
  animation-delay: 3s;
} */

@keyframes makeBigger {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.philosophy-span {
  font-size: 1rem;
  color: #084c2e;
  display: none;
  font-weight: 700;
}

.philosophy-inner-container:hover .philosophy {
  border: none;
  animation: none;
  transform: translateX(-20vw);
}

.philosophy-inner-container:hover .philosophy-span {
  display: inline;
}

.philosophy-inner-container:hover .philosophy-text {
  opacity: 1;
  transform: translateX(100%);
}

.philosophy-text {
  font-size: 1.2rem;
  position: absolute;
  width: 30rem;
  font-family: "Work sans", sans-serif;
  right: 0;
  /* transform: translateX(50%); */
  text-align: center;
  opacity: 0;
  transition: all 1s;
  font-style: italic;
}

@media screen and (max-width: 1400px) {
  .hero-header {
    font-size: 2.5rem !important;
    margin-top: 10rem !important;
  }

  .about-header {
    font-size: 1.2rem;
  }

  .what-why-div h2 {
    width: 45%;
    font-size: 2rem;
  }

  .approach-slide .fp-overflow {
    padding: 0 6rem;
  }

  .arrows {
    /* top: 10rem; */
    right: 7rem;
  }
}
@media screen and (max-width: 1200px) {
  .floating-header {
    font-size: 2.5rem;
  }

  .who-is-text {
    flex-basis: 45%;
    font-size: 1.2rem;
    line-height: 2.2rem;
  }

  .who-is-breaktext p {
    font-size: 1.3rem;
  }

  .about-header {
    font-size: 1rem;
  }

  .what-why-div h2 {
    font-size: 1.5rem;
  }

  .what-why > .fp-overflow {
    padding: 6rem;
    padding-top: 11.5rem;
  }

  .what-why-div p {
    font-size: 1rem;
  }

  .approach-img {
    width: 22rem;
    height: 13rem;
  }

  .arrows {
    top: 13rem;
    right: 6.5rem;
  }

  .arrows {
    top: calc(50vh - 6.5rem);
  }

  .approach-text h2 {
    font-size: 2rem;
    margin-bottom: 1.5rem;
  }

  .approach-text p {
    font-size: 1rem;
  }

  .philosophy-inner-container:hover .philosophy-text {
    transform: translateX(75%);
    font-size: 1rem;
  }
}
@media screen and (max-width: 1000px) {
  .cta-link:link,
  .cta-link:visited {
    font-size: 0.8rem;
  }

  .hero-header {
    margin-top: 0 !important;
    text-shadow: 0 0 15px #fff !important;
    text-align: center;
    top: auto !important;
  }

  .about-svg {
    height: 120vh;
  }

  .about-svg svg {
    height: 100%;
  }

  .floating-header {
    font-size: 2rem;
    line-height: 4rem;
    left: 8rem;
  }

  .who-is-header {
    margin-bottom: 2rem;
    /* font-size: 1.7rem; */
    left: 4rem;
  }

  .who-is-text {
    font-size: 1rem;
    line-height: 1.8rem;
    flex-basis: 50%;
  }

  .who-is-header::after {
    height: 160%;
  }

  .who-is-breaktext p {
    font-size: 1rem;
    line-height: 2.2rem;
  }

  .who-is-breakimg {
    width: 90%;
    height: 30rem;
  }

  .what-why-div h2 {
    font-size: 1.2rem;
  }

  .what-why > .fp-overflow {
    padding: 4rem;
    padding-top: 9.5rem;
  }

  .what-why-div p {
    width: 45%;
  }

  .approach-slide .fp-overflow {
    padding: 0 4rem;
  }

  .approach-img {
    width: 18rem;
    height: 11rem;
  }

  .approach-text p {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }

  .approach-text h2 {
    font-size: 1.8rem;
  }

  .arrows {
    top: calc(50vh - 5.5rem);
    right: 5rem;
  }

  .arrows i {
    font-size: 2rem;
  }

  .philosophy-inner-container:hover .philosophy {
    transform: translateX(-30vw);
  }
  .philosophy-text {
    width: 20rem;
  }
  .philosophy-inner-container:hover .philosophy-text {
    transform: translateX(55%);
    font-size: 0.8rem;
  }
  .philosophy {
    font-size: 5rem;
  }
  .philosophy {
    width: 12rem;
    height: 12rem;
  }
}
@media screen and (max-width: 750px) {
  .hero-container {
    height: 100vh !important;
  }
  .floating-header {
    font-size: 1.2rem;
    line-height: 3.5rem;
    left: 5rem;
  }
  .about-svg {
    height: 80vh;
  }
  .who-is-header {
    margin-bottom: 2rem;
    font-size: 1.7rem;
  }

  .who-is-header {
    left: 3rem;
  }

  .who-is-text {
    font-size: 0.8rem;
    line-height: 1.5rem;
    flex-basis: 52%;
  }

  .what-why-div h2 {
    font-size: 0.9rem;
    line-height: 2rem;
    width: 50%;
  }

  /* .what-why > .fp-overflow {
    padding: 3rem;
    padding-top: 8.5rem;
  } */

  .what-why-div p {
    font-size: 0.8rem;
  }

  .approach-slide .fp-overflow {
    padding: 0 3rem;
  }

  .approach-img {
    width: 12rem;
    height: 8rem;
  }

  .approach-text {
    flex-basis: 50%;
  }

  .approach-text p {
    font-size: 0.8rem;
    line-height: 1.5rem;
  }

  .arrows {
    top: calc(50vh - 4rem);
    right: 4rem;
  }

  .philosophy-inner-container:hover .philosophy-text {
    font-size: 0.6rem;
  }
}

@media screen and (max-width: 550px) {
  .hero-header {
    font-size: 2.5rem !important;
    margin-top: 0rem !important;
    text-shadow: 0 0 15px #fff !important;
    text-align: center;
  }

  .hero-header {
    top: 0;
  }

  .floating-header {
    left: 3rem;
    font-size: 1rem;
  }

  .who-is-text {
    font-size: 0.8rem;
    line-height: 1.3rem;
    flex-basis: 54%;
    margin-bottom: 2rem;
  }
  .who-is {
    flex-direction: column !important;
  }

  .who-is-text .green {
    font-size: 1.4rem;
  }

  .who-is-breaktext p {
    font-size: 0.8rem;
    line-height: 1.8rem;
  }

  .who-is-breaktext {
    width: 80%;
  }

  .about-header {
    font-size: 0.7rem;
    padding: 0.5rem;
  }

  .what-why > .fp-overflow {
    padding: 6rem 1.5rem 0 1.5rem;
  }
  .what-why-div {
    flex-basis: auto;
    margin-top: 4rem;
  }

  .what-why-div h2 {
    line-height: 1.7rem;
    width: 48%;
  }

  .what-why-div p {
    font-size: 0.7rem;
    margin-top: 5rem;
  }

  .who-is-breakimg {
    height: 26rem;
  }

  .approach-img {
    display: none;
  }

  .arrows {
    top: auto;
    right: auto;
    left: 3rem;
    bottom: calc(50vh - 11.5rem);
    /* transform: translateX(50%); */
  }

  .approach-text {
    flex-basis: 100%;
  }

  .who-is-header {
    font-size: 1.5rem;
  }

  .philosophy {
    width: 8rem;
    height: 8rem;
    font-size: 3.5rem;
  }

  .philosophy-text {
    width: 20rem;
    right: 0;
    /* left: 0; */
    bottom: 0;
    transform: translateX(30%);
    font-size: 0.8rem;
  }

  .philosophy-inner-container {
    margin-bottom: 7rem;
  }

  .philosophy-inner-container:hover .philosophy-text {
    opacity: 1;
    transform: translate(30%, 120%);
  }

  .philosophy-inner-container:hover .philosophy {
    transform: translateX(0);
  }
}
