.loader-container {
  width: 100vw;
  height: 100vh;
  background-color: #1a1a1a;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1001;
  /* animation: loaderDiv 5s ease-in-out 10s forwards; */
  transition: all 1s;
  display: none;
}

.loader-text-div {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.loader-text {
  color: #f6f6f6;
  font-family: "open sans", sans-serif;
  font-size: 3rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
  text-align: center;
  text-shadow: 0px 10px 10px black;

  /* display: none; */

  /* animation: loader 5s ease-in-out infinite; */
}

/* .loader-text-1 {
  animation: loader 5s ease-in-out forwards;
}

.loader-text-2 {
  animation: loader 5s ease-in-out 3s forwards;
  opacity: 0;
}

.loader-text-3 {
  animation: loader 5s ease-in-out 6s forwards;
  opacity: 0;
} */

@keyframes loader {
  0% {
    transform: translate(-50%, -50%) scale(0);
    opacity: 1;
    display: block;
  }

  60% {
    transform: translate(-50%, -50%) scale(1.3);
  }

  90% {
    transform: translate(-50%, -50%) scale((1.3));
  }

  100% {
    transform: scale(1.3) translateX(calc(-50% - 20vw)) rotateY(-180deg);
    opacity: 0;
  }
}

@keyframes loaderDiv {
  0% {
    opacity: 1;
  }

  /* 90% {
      opacity: 1;
    }
  
    95% {
      opacity: 0.5;
    } */

  100% {
    opacity: 0;
    z-index: -1;
    /* visibility: hidden; */
  }
}

.hero-img {
  background: url("img/Hero.jpeg");
  background-size: cover;
  background-position: center;
}

.hero-header-1 {
  animation: moveInLeft 3s;
}

.hero-header-2 {
  animation: moveInRight 3s;
}

.section-2-container {
  height: 155vh;
  width: 100%;
  /* height: 100%; */
  position: relative;
  display: flex;
  /* justify-content: center; */
  /* align-items: center; */
  padding-top: 8rem;
  padding-left: 8rem;
  background-color: #1a1a1a;
}

.section-2-content {
  width: 90%;
  /* max-width: calc(100vw - 16rem); */
  height: 80%;
  max-height: calc(100vh - 12rem);
  /* background-color: red; */
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.border-box {
  width: 5rem;
  height: 5rem;
  /* background-color: #084c2e; */
}

.border-box-1 {
  border-left: 3px solid #084c2e;
  border-top: 3px solid #084c2e;
  position: absolute;
  top: 0;
  left: 0;
}
.border-box-2 {
  border-right: 3px solid #084c2e;
  border-top: 3px solid #084c2e;
  position: absolute;
  top: 0;
  right: 0;
}
.border-box-3 {
  border-right: 3px solid #084c2e;
  border-bottom: 3px solid #084c2e;
  position: absolute;
  bottom: 0;
  right: 0;
}
.border-box-4 {
  border-left: 3px solid #084c2e;
  border-bottom: 3px solid #084c2e;
  position: absolute;
  bottom: 0;
  left: 0;
}

.section-2-content p {
  color: #ffffff;
  width: 60%;
  font-size: 3rem;
}

.section-2-div {
  width: 16rem;
  height: 16rem;
  border-radius: 50%;
  overflow: hidden;
  border: 1px solid #084c2e;
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2-div-inner {
  width: 12rem;
  height: 12rem;
  border-radius: 50%;
  overflow: hidden;
  /* border: 1px solid #084c2e; */
  display: flex;
  align-items: center;
  justify-content: center;
}

.section-2-div img {
  height: 100%;
  /* border-radius: 50%; */
}

/* Services */
.services {
  width: 100vw;
  /* height: 100vh; */
}

.services-container {
  width: 100%;
  /* height: 100%; */
  background-color: #f6f6f6;
  padding-left: 8rem;
  padding-top: 8rem;
  padding-right: 8rem;
}

.services-container h1 {
  color: #1a1a1a;
  font-family: "Work sans", Serif;
  margin-bottom: 3rem;
  position: relative;
  font-weight: 400;
  font-size: 2rem;
}

.services h1::after {
  width: 5%;
  height: 240%;
  content: "";
  display: table;
  border-bottom: 3px solid #084c2e;
  position: absolute;
  top: 0;
  left: 0;
}

.services-listed {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-basis: 50%;
  /* padding-left: 3rem;
    padding-right: 3rem; */
  height: 80vh;
  /* align-items: center; */
}
.services-img {
  width: 65%;
}

.services-list {
  width: 35%;
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  height: 100%;
  padding-top: 3rem;
}

.service {
  font-size: 3rem;
  color: #1113222a;
  font-family: "open sans", sans-serif;
  font-weight: 600;
  cursor: pointer;
  display: inline-block;
}

.service-active {
  color: #084c2e !important;
}

.services-btn {
  text-decoration: none;
  color: #084c2e;
  border: 2px solid #084c2e;
  padding: 1rem 2rem;
  font-size: 1.5rem;
  font-family: "open sans", sans-serif;
  font-weight: 600;
  border-radius: 10rem;
  width: 12rem;
  height: 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all 0.6s;
}

.services-btn:hover {
  background-color: #084c2e;
  color: #fff;
}

.services-img {
  display: none;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.img-active {
  display: flex;
}

.services-img > div {
  width: 100%;
  height: 80%;
  display: flex;
  justify-content: space-around;
}

.services-img img {
  height: 100%;
  border-radius: 1.8rem;
}

.service-text {
  /* background-color: #084c2e; */
  text-align: center;
  margin-top: 1rem;
  font-family: "open sans", sans-serif;
  font-weight: 600;
  width: 80%;
}

/* Note */
.note-container {
  /* background-color: #1a1a1a; */
  position: relative;
  margin-top: -20rem;
  margin-bottom: 10rem;
  z-index: 10;
}
.note-text {
  background-color: #1a1a1a;
}

.note-container h1 {
  color: #ffffff;
  font-family: "open sans", Serif;
  margin-bottom: 3rem;
  position: relative;
}
.note-container h1::after {
  width: 5%;
  height: 240%;
  content: "";
  display: table;
  border-bottom: 3px solid #084c2e;
  position: absolute;
  top: 0;
  left: 0;
}

.note-text {
  background-color: #1a1a1a;
  position: relative;
  padding-bottom: 2rem;
}
.note-text::after {
  width: 100%;
  height: 100%;
  position: absolute;
  left: 0;
  top: 0;
  background-color: #084c2f1c;
  content: "";
}

.note-text p {
  color: #ffffff;
  font-size: 1.8rem;
  font-family: "Playball", cursive;
  padding: 1.5rem;
  line-height: 2.5rem;
  /* box-shadow: 0px 0px 2px #084c2e; */
}

/* Featured */
.featured-container {
  /* width: 100%;
    height: 100%; */
  padding-left: 8rem;
  padding-right: 8rem;
  padding-top: 8rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #1a1a1a;
  padding-top: 13.5rem;
}

.featured-container h1 {
  color: #fff;
  font-family: "Work sans", Serif;
  margin-bottom: 3rem;
  position: relative;
  font-weight: 500;
  align-self: flex-start;
  width: 100%;
}

.featured-container h1::after {
  width: 5%;
  height: 240%;
  content: "";
  display: table;
  border-bottom: 3px solid #084c2e;
  position: absolute;
  top: 0;
  left: 0;
}

.all-works {
  position: relative;
  transition: all 1s;
  height: 4rem;
  margin-bottom: 5rem;
  /* background-color: red; */
  display: flex;
  align-items: center;
}

.all-works a {
  text-decoration: none;
  font-family: "Work sans", Serif;
  color: #fff;
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  /* border-bottom: 3px none #084c2e; */
  transition: all 1s;
  position: relative;
}

.all-works a::before {
  width: 0.4rem;
  height: 0.4rem;
  border: 2px solid #084c2e;
  border-radius: 50%;
  display: table;
  content: "";
  position: absolute;
  left: -0.8rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1s;
}

.all-works a::after {
  width: 10%;
  height: 100%;
  display: table;
  content: "";
  position: absolute;
  top: 0;
  left: 50%;
  border-bottom: 3px none #084c2e;
  transform: translateX(-50%);
  transition: all 1s;
}

.all-works a:hover::before {
  width: 4rem;
  height: 4rem;
  left: -5rem;
  background-color: #084c2e;
}

.all-works a:hover::after {
  border-bottom: 3px solid #084c2e;
  width: 90%;
}

.all-works a:hover {
  transform: translateX(1rem);
  padding-bottom: 0.2rem;
  /* margin-left: 3rem; */
}

.hidden-icon {
  color: #fff;
  font-size: 0.3rem;
  position: absolute;
  left: -0.6rem;
  top: 50%;
  transform: translateY(-50%);
  transition: all 1s;
  transform: rotate(20deg);
  visibility: hidden;
}

.all-works a:hover .hidden-icon {
  font-size: 2rem;
  left: -3rem;
  visibility: visible;
  transform: rotate(720deg) translateY(-1rem) translateX(-50%);
  transform-origin: 50% 50%;
}

@media screen and (max-width: 1400px) {
  .section-2-container {
    width: 100%;
  }

  .section-2-content {
    height: 50%;
  }
  .section-2-content p {
    font-size: 1.9rem;
    line-height: 3rem;
  }

  /* Note */
  .note-container {
    margin-top: -30rem;
  }

  /* Services */
  .services-img > div {
    height: 60%;
  }

  .service-text {
    margin-top: 2rem;
    width: 100%;
  }

  .service {
    font-size: 2.5rem;
  }
}

@media screen and (max-width: 1200px) {
  .section-2-content p {
    font-size: 1.6rem;
  }

  .section-2-div {
    width: 12rem;
    height: 12rem;
    border: none;
  }

  .section-2-container {
    height: 140vh;
  }

  .border-box {
    width: 3rem;
    height: 3rem;
  }

  .services-container {
    padding-left: 4rem;
    padding-right: 4rem;
  }

  /* Note */

  .note {
    padding-left: 5rem;
    padding-right: 5rem;
  }

  .note-text p {
    font-size: 1.4rem;
  }

  /* Services */
  .services-container {
    padding-left: 4rem;
    padding-top: 4rem;
    padding-right: 4rem;
  }

  .services-container h1 {
    font-size: 1.5rem;
  }

  .service {
    font-size: 2rem;
  }

  .services-btn {
    border: 1px solid #084c2e;
    font-size: 1.3rem;
  }

  .services-list {
    padding-top: 2.5rem;
    height: 80%;
  }

  .service-text {
    font-size: 0.8rem;
  }

  .services-img img {
    height: auto;
    width: 100%;
  }

  .services-listed {
    align-items: center;
    max-height: 38rem;
  }
}

@media screen and (max-width: 1000px) {
  .service {
    font-size: 1.5rem;
  }

  .services-list {
    height: 80%;
    padding-top: 0;
  }

  .services-btn {
    font-size: 1rem;
    width: 10rem;
    height: auto;
    padding: 1rem;
  }

  .services-img {
    width: 50%;
  }

  .service-text {
    margin-top: 1rem;
    font-size: 0.7rem;
  }

  .featured-container {
    padding-left: 4rem;
    padding-right: 4rem;
    padding-top: 4rem;
  }

  .featured-container h1 {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 750px) {
  .section-2-container {
    padding: 0;
    display: flex;
    justify-content: center;
    padding-top: 8rem;
    max-height: 70rem;
  }
  .section-2-content p {
    font-size: 1.2rem;
    line-height: 2rem;
  }

  .section-2-content {
    max-height: 25rem;
  }

  .section-2-div {
    width: 10rem;
    height: 10rem;
  }

  .border-box {
    width: 2rem;
    height: 2rem;
  }

  /* Note */
  .note {
    padding-left: 0;
    padding-right: 0;
  }

  .note-container {
    margin-bottom: 5rem;
  }

  .note-container h1 {
    margin-bottom: 1rem;
    margin-left: 0;
    font-size: 1.5rem;
  }

  .note-text p {
    font-size: 1.2rem;
  }

  /* Services */

  .services-listed {
    max-height: 25rem;
  }
}
@media screen and (max-width: 550px) {
  .services-container {
    padding: 0;
  }
  .nav {
    padding-left: 1rem;
  }

  .section-2-div {
    display: none;
  }

  .section-2-container {
    padding-top: 4rem;
    padding-left: 1rem;
    padding-right: 1rem;
    height: 100vh;
  }

  .section-2-content p {
    width: 80%;
    text-align: center;
    font-size: 1rem;
  }

  .section-2-content {
    max-height: 20rem;
  }

  .border-box {
    width: 1.5rem;
    height: 1.5rem;
  }

  .note-container h1 {
    margin-left: 1rem;
  }

  .note-text p {
    font-size: 1rem;
    line-height: 2rem;
  }

  .services-container {
    padding-bottom: 3rem;
    padding-top: 2rem;
  }

  .services h1::after,
  .featured-container h1::after {
    width: 10%;
    height: 180%;
    border-bottom: 1px solid #084c2e;
  }

  .services-container h1,
  .featured-container h1 {
    font-size: 1rem;
  }

  .services-listed {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .services-list {
    flex-direction: row;
    height: auto;
    width: 100%;
    margin-bottom: 1.5rem;
    padding-top: 0;
  }

  .services-btn {
    display: none;
  }

  .service {
    font-size: 1rem;
  }

  .services-img {
    width: 90%;
  }

  .service-text {
    margin-top: 1.5rem;
  }

  .services-container h1 {
    font-size: 1.2rem;
    margin-left: 1rem;
  }

  .services-container h1::after {
    height: 160%;
  }

  .featured-container {
    padding-left: 1rem;
    padding-right: 1rem;
  }
}
